*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --clr-dark: #9fd4ee;
    --clr-light: #fff;
    --clr-secondary: #0a84ff;
}
/* Created by Soumyadeep Mandal (@imsampro) | https://github.com/ImSaMPro */
body {
    font-family: Poppins;
    background: var(--clr-dark);
    color: var(--clr-light);
    min-height: 100vh;
    display: grid;
    place-items: center;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    max-width: 100%;
}
.btn {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 0;
    background: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: bold;
    border-radius: 12px;
}
.game {
    position: relative;
    width: 12rem;
}
.streamers {
    display: flex;
    text-align: center;
}
.streamers img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.front {
    transition: 200ms;
}
.front > img {
    border-radius: 12px;
}
.front .name {
    margin: 0.75em 0;
}
.front .status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.front .streamers img {
    border: 1px solid var(--clr-dark);
}
.front .streamers img:nth-child(1) {
    z-index: 1;
    transform: translateX(15px);
}
.front .streamers img:nth-child(2) {
    transform: translateX(10px);
}
.back {
    position: absolute;
    top: 56%;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.back .streaming-info {
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, 0.6);
}
.back .game-stat {
    font-size: 1.2rem;
    text-align: center;
}
.back .game-stat span {
    display: block;
    font-size: 0.8rem;
}
.back .streamers {
    display: flex;
}
.backgroundWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a430c7;
    z-index: -1;
    transform: scale(0.2, 0.8);
    opacity: 0;
    border-radius: 12px;
}
.game:hover .front {
    transform: translateY(-25%) scale(0.8);
}
.game:hover .front .name {
    animation: gameName 150ms forwards;
}
.game:hover .front .status {
    opacity: 0;
}
.game:hover .back {
    opacity: 1;
}
.game:hover .back .streamers {
    width: 100%;
    justify-content: space-between;
}
/* Created by Soumyadeep Mandal (@imsampro) | https://github.com/ImSaMPro */
.game:hover .back .streamer {
    font-size: 0.9rem;
}
.game:hover .back .name {
    font-weight: bold;
}
.game:hover .rank {
    top: -35px;
    right: -30px;
}
.game:hover .backgroundWrapper {
    transition: transform 200ms ease-in-out, opacity 100ms linear;
    opacity: 1;
    transform: scale(1.4, 1.2);
}
.rank {
    position: absolute;
    right: 15px;
    font-weight: bold;
    font-size: 1.12rem;
    background: rgba(230, 52, 96, 0.75);
    padding: 0.5em 0.5em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    transition: 250ms ease-in-out;
}
@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
   }
    20% {
        text-align: left;
        opacity: 0;
   }
    50% {
        text-align: center;
        opacity: 0;
   }
    100% {
        text-align: center;
        opacity: 1;
   }
}
/* Created by Soumyadeep Mandal (@imsampro) | https://github.com/ImSaMPro */
